
*{
    /* background-color: black; */
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    font-family: 'Archivo Narrow', sans-serif;
    border-radius: 10px
    
}

html, body{
    min-height: 100%;
    background-color: black;
}


/* Header  */
header{
    background-color: rgba(56, 56, 56, 0.5);
}
ul> li:first-child> a{
    font-family: 'Source Sans Pro', sans-serif;
    color: red;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

ul>li:hover{
    background-color: rgba(34, 34, 34, 0.5);

}

header, header ul, header nav{
    position: fixed;
    top: 0;                    /* Relative to the body*/
    height: 80px;
    width: 100%;
    z-index: 9999;
}
header ul{
    display: grid;
    grid-template: 1fr/ 400px repeat(5, 100px)
}
header a,header li{
    height: 80px;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
}
header a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
header img{
    height: 60px;
}

/* Top image section */

#top_image, #top_image>div>a{
    height: 500px;
    width: 100%;
}

#top_image{
    overflow: hidden;
}

#top_image #second_level_container{
    position: relative;
    top:0;
    height: 500px;
    width: 100%;
}
#top_image img{
    transform: translateX(-100px);
    transform: translateY(-300px);
    z-index: 0;
    width: 1600px;
    height: 900px;
}
#top_image #top_image_info{
    position: absolute;
    bottom: 0;
    z-index: 9;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
    margin-left: 5%;
}

#top_image h2{
    font-size: 40px;
}
#top_image span{
    margin-top: 10px;
    height: 40px;
    width: 70px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top_image span:hover{
    background-color: rgb(189, 0, 0);
}
#top_image a{
    display: inline;
    width: 70px;
}

/* Main */
#main{
    background-color: black;
}

/* Movies section */
#movies_section{
    background-color: rgba(113, 113, 113, 0.2);
    min-height: 550px;
    align-items: center;;
}

.horizontal_container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 97%;
    min-height: 200px;                                               /*<--- To account for the new interaction*/
}
.horizontal_container:first-child{
    margin-top: 0;
    padding-top:40px;
}

/* Inside a horizontal section */

.horizontal_container .section_genre{
    width: 100%;
    background-color: none;
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.horizontal_container{
    background-color: none;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
    height: 175px;
    /* display: grid;
    grid-template:  1fr/ repeat(5, 300px); */
    /* display: flex;
    flex-direction: row; */
}
.movie_container{
    width: 1500px;
    height: 175px;
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    ;
}
.movie_container .movie{
    height: 100%;
    width: 300px;
    margin-right: 10px;

}

/* Inside a movie element */

.movie{
    width: 100%;
    height: 100%;
    position: relative;
}
.movie .inside_name{
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.movie span{
    font-family: 'Archivo Narrow', sans-serif;
    opacity:60%;
    width: 200px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(95, 95, 95);

}



/* Inside a movie image
<div id=<moviename> class='movie'>
    <div class='movie_image_container'>
        <img....
    </div>
    <span>
 
*/

.movie .movie_image_container{
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border-radius: 10px; */
}

.movie_image_container:hover, .movie_image_container span{
    opacity: 60%;
    cursor: pointer;
}

.movie img{
    width: 500px;
}


/* There appears to be another feature of the website!!! :https://d3atsf3fgek2rw.cloudfront.net/content/uploads/2015/06/New_Netflix_Website_EN.png 
                    <div class='extra_image_container'>
                        <img src="" class="extra_info_image">
                        <span>Close</span>
                    </div>
                    <div class="extra_info_inner">
                        <h3 class="extra_info_movie_name"></h3>
                        <p class="extra_info_description"></p>
                    </div>
*/

.extra_movie_information{
    margin-top: 20px;
    height: 0;
    width: 100%;
    background-color: none;
    border-radius: 10px;
}


.extra_movie_information .extra_image_container{
    width: 65%;
    height: 376px;
    position: relative;
    float: right;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative
}
.extra_image_container img{
    width: 900px;
    position: absolute;
    right:0;
}
.extra_image_container span{
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra_image_container span:hover{
    background-color: rgb(179, 0, 0);
    cursor: pointer;
}

.extra_movie_information >.extra_info_inner{
    width: 35%;
    height: 100%;
    /* position: absolute;
    left: 0; */
    /* float: left; */
    background-color: black
}
.extra_info_inner{
    position: relative;
}
.extra_info_inner h3{
    width: 100%;
    height: 30%;
    display: block;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extra_info_inner p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

 /* Clicked! */
 .extra_movie_information.CLICKED{
    height: 400px;
}
.horizontal_container.CLICKED{
    overflow-y: visible;
    height:700px;    /*175+400*/
}




/* Changing the scroll bar */
 .horizontal_container{
     scrollbar-width:thin;
     scrollbar-color: darkgray;
 }
body{
    scrollbar-width: thin;
}




/*Tablet code*/
@media all and (min-width: 500px) and (max-width: 750px) {

    /* Optimizing the header */
    header ul{
        grid-template: 1fr/ 200px repeat(3, 1fr)
    }
    ul li:first-child>a{
        font-size: 30px;
    }
    header{
        border-radius: 0;
    }

    /* Top image */
    #top_image img{
        transform: translate(-20%, -10%)                          /*THE BOTTOM OVERRIDES THE TOP!!! THATS WHY> Why does this screw it up?!*/
    }

    #top_image #top_image_info{
        width: 60%;
    }

}


/* Mobile site */
@media all and (max-width: 500px){  

    /* Header */
    header ul{
        grid-template: 1fr/ 150px repeat(3, 1fr)
    }

    ul a{
        font-size: 16px;
    }

    ul li:first-child >a{
        font-size: 20px;
    }

    header{
        border-radius: 0;
    }

    /* Top image */

    #top_image #top_image_info{
        width: 90%;
    }

    #top_image img{
        transform: translate(-30%, -10%);
    }

}

